* {
  margin: 0;
  padding: 0;
}

body {
  matgin: 0 auto;
}

.header, .header_button, .header-information p, .button_yellow {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

h2, .header-information h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
}

button {
  width: 170px;
  height: 48px;
  border-radius: 24px;
}

.header, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 768px;
  background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #1e20ad;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 -2px 5px, inset rgba(252, 255, 255, 0.3) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
          box-shadow: inset rgba(0, 0, 0, 0.2) 0 -2px 5px, inset rgba(252, 255, 255, 0.3) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header {
  color: #fff;
  padding-top: 30px;
}

.header a {
  text-decoration: none;
}

.header__h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.header__nav {
  width: 414px;
}

.header__nav a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.header__nav a:hover {
  color: #ead0f5;
}

.header_button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.295063);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  color: white;
}

.header_button:hover {
  background-color: #fff;
  color: #1e20ad;
  border: none;
}

.header-information {
  width: 370px;
  padding-top: 150px;
}

.header-information h1 {
  font-size: 72px;
  line-height: 72px;
  color: #FFFFFF;
}

.header-information p {
  margin-top: 26px;
  margin-bottom: 34px;
  font-weight: 600;
  color: #FFFFFF;
}

.table {
  position: absolute;
  left: 41.88%;
  top: 18%;
  z-index: 5;
}

.oval-under-table {
  position: absolute;
  top: 66%;
  right: 0%;
  z-index: 2;
}

.half-of-oval {
  position: absolute;
  right: 0;
  top: 7%;
}

.medium-oval {
  position: absolute;
  top: 24%;
  right: 10%;
  z-index: 2;
}

.little-oval {
  position: absolute;
  bottom: -7%;
  left: 38%;
}

.button_yellow {
  font-weight: bold;
  color: #fff;
  background-color: #FFC300;
}

.social-menu {
  width: 112px;
  position: absolute;
  right: 9%;
  bottom: 6%;
  z-index: 6;
}

.social-menu a img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}
/*# sourceMappingURL=style.css.map */